main{
    position: relative;
}

#cart-text {
    background-image: url("https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1440/540/75/dam/disney-world/admission/WDW_SWGE_1440x540.png?1674502817666");
    background-attachment: fixed;
    background-size: contain;
    height: 69vh;
    padding-top: 13%;
    font-family: "WaltographRegular";
}

h1{
    font-size: 100px;
    color: black;
}


#fullCart{
    margin-top: 5%;
}

.card{
    background-color: rgb(240, 248, 255, .3);
    margin-bottom: 30%;
}

.card-img-top{
    max-width: 350px;
    height: 170px;
}

#cartContainer{
    padding-left: 2%;
    padding-right: 2%;
}

.quantity{
    width: 43px;
    background-color: rgb(242, 247, 252,.2);
}

.submitForm{
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: white;
    --bs-btn-bg: black;
}


#totalBtn{
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: black;
    --bs-btn-bg: black; 
    width: 115px;
    margin-left: 45%;
    margin-bottom: 2%;
}

#cartResetBtn{
    --bs-btn-bg: rgba(113, 0, 128, 0.849);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgba(113, 0, 128, 0.849);
    --bs-btn-color: white;
    margin-left: 20px;
    margin-bottom: 2%;
}

#animalResetBtn, #magicResetBtn, #epcotResetBtn, #studioResetBtn{
    --bs-btn-bg: purple;
    --bs-btn-hover-color: purple;
    --bs-btn-hover-bg: white;
    --bs-btn-color: white;
}

footer {
    background-color: rgb(232, 230, 240, .2);
    padding-left: 20px;
    padding-top: 25px;
    border-top: 1px solid rgb(102, 84, 206);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }