h4 {
    width: 300px;
    text-align: center;
}

.row-text {
    font-size: 40px;
    vertical-align: middle;
}

#pt-row {
    text-align: center;
}

#row-1 {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

#parks-h3{
    font-size: 40px;
}

#epcot {
    max-width: 100%;
    height: 100%;
    object-fit:contain;
    border-radius: 25px;
}

#epcot-container{
    padding-right: 30px;
}

#magic-kingdom{
    max-width: 100%;
    height: 200px;
    object-fit:contain;
    border-radius: 25px;
}

#hollywood-studios{
    max-width: 100%;
    height: 200px;
    object-fit:contain;
    border-radius: 25px;
}

#animal-kingdom{
    width: 350px;
    height: 200px;
    object-fit:contain;
    border-radius: 25px;
}

.image-container{
    display:flexbox;
    transition: transform .4s;
    padding-left: 1rem;
    padding-right: 1rem;
}

.image-container:hover {
    transform: scale(1.1);
}

.link {
    display: block;
    text-decoration: none;
    color: white;
    transition: transform .4s;
}

.link:hover {
    transform: scale(1.1);
    text-decoration: underline white;
}