body{
  background-image: url("https://oceanschool.nfb.ca/_nuxt/img/heroCommunity.a21abf3.jpg");
    background-size: cover;
    background-attachment: fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
   color: black; 
}

#header-container, #navbar-container{
  font-family: "WaltographRegular";
  background-color: rgb(248, 243, 243, .3);
  padding-left: 2%;
}

.nav-item, .navbar-brand{
  font-size: 20px;
  color: black;
  margin-right: 100px;
}

#navbar-container{
  position: relative;
}

#headerBtns{
  position: absolute;
  right: 0;
}

#park_banner_image {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.middle-row {
  margin: 50px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#box5,
#box6,
#box7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  width: 25%;
}
.add-to-cart-button {
  margin-top: auto;
}

#title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.add-to-cart-button {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.after-hours {
  width: 33%;
  padding: 50px;
  margin: 60px;
  margin-top: 20px;
  padding-top: 10px;
}

.image-container {
  border: 5px;
}

#special-events {
  display: flex;
  justify-content: center;
}

#theme-park-figures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#theme-parks-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: rgb(232, 230, 240, .2);
  padding-left: 20px;
  padding-top: 25px;
  border-top: 1px solid rgb(102, 84, 206);
}

.container {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

p {
  margin: 0;
  font-size: 17px;
  color: #0c0c0c;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-left: 20px;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
}

#figure {
  justify-content: center;
  margin: 25px;
}

.submitForm{
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: white;
  --bs-btn-bg: black;
}

#login-btn, #signup-btn{
  border-radius: .5rem;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: black;
  --bs-btn-padding-y: .5rem; 
  --bs-btn-padding-x: .9rem;
  --bs-btn-font-size: 1.1rem;
  width: 90px;    
}
