#signupPage{
    font-size: 20px;
    margin-top: 5%;
}

.submitForm{
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: white;
}

.form-control, .dropdown{
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* signup box */
.form-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 10px;
    word-wrap: normal;
    color: rgb(11, 11, 12);
}



/* security box */