html {
  box-sizing: border-box;
}

#header-container,
#navbar-container {
  font-family: "WaltographRegular";
  background-color: rgb(248, 243, 243, 0.3);
  padding-left: 2%;
}

body {
  background-image: url("https://oceanschool.nfb.ca/_nuxt/img/heroCommunity.a21abf3.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Playfair Display";
  font-weight: normal;
  color: rgb(250, 245, 245);
}

.nav-item,
.navbar-brand {
  font-size: 20px;
  color: black;
  margin-right: 100px;
}

#navbar-container {
  position: relative;
}

#login-btn,
#signup-btn {
  border-radius: 0.5rem;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: black;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 0.9rem;
  --bs-btn-font-size: 1.1rem;
  width: 90px;
}

#headerBtns {
  position: absolute;
  right: 0;
}

#park_banner_image {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.top-row {
  margin: 5px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bottom-row {
  height: 350px;
  width: 465px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#little-ones,
#teens-tweens,
#adults {
  font-variant: JIS04;
  font-size: 25px;
  width: 33%;
  padding: 50px;
  margin: 61px;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 75px;
  margin-bottom: 45px;
  padding-left: 20px;
}

footer {
  background-color: rgb(232, 230, 240, 0.2);
  padding-left: 20px;
  padding-top: 25px;
  border-top: 1px solid rgb(102, 84, 206);
}

.container {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

p {
  margin: 0;
  font-size: 14px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-left: 20px;
}

a {
  text-decoration: none;
  font-size: 14px;
}

#disney-springs {
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

#boardwalk {
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  text-decoration: none;
  color: white;
}

#drawn-to-life {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  text-decoration: none;
  color: white;
}

#dining-shopping-concerts {
  display: flex;
  justify-content: center;
}

.images {
  transition: transform 0.2s ease-in-out;
}

.images:hover {
  transform: scale(1.1);
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
